@import '@/assets/styles/layout/vars.scss';
@import '@/assets/styles/layout/breakpoints.scss';
@keyframes shadow {
    from {box-shadow: 0 0px 40px 5px #D0FF00;}
    to {box-shadow: 0 0px 80px 40px $accentColor;}
}

.button{
    height: 50px;
    width: 100%;
    color: $white;
    font-size: $h6fontSize;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $mainColor;
    border-radius: 4px;
    transition: all .3s;
    border: 2px solid $mainColor;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-icon{
        margin-right: 15px;
        fill:#fff;
        transition: all .3s;
    }
    &:hover{
        background-color: transparent;
        color: $mainColor;
    }
}

.button--archive{
    background-color: red;
    border-color: red;
    &:hover{
        color: red;
        .btn-icon{
            fill: red;
        }
    }
}

.button--wait{
    background-color: $accentColor;
    border-color: $accentColor;
    color: $mainColor;
    @include middle-desktops {
        font-size: 10px;
        white-space: nowrap;
    }
    .btn-icon{
        fill: $mainColor;
    }
    &:hover{
        color: $accentColor;
        .btn-icon{
            fill: $accentColor;
        }
    }
    &.button--wait-active {
        color: $accentColor;
        background-color: transparent;
        .btn-icon{
            fill: $accentColor;
        }
    }
}

.button--text{
    background-color: $mainColor;
    border-color: $mainColor;
    &:hover{
        color: $mainColor;
    }
}

.button--text-light{
    background-color: $mainColor;
    border-color: $white;
    &:hover{
        color: $mainColor;
        background-color: $white;
    }
}

.button--edit{
    background-color: #80C826;
    border-color: #80C826;
    &:hover{
        color: #80C826;
    }
}

.button--winner{
    background-color: #D0FF00;
    border-color: $accentColor;
    color: $accentColor;
    animation-name: shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:hover{
        color: red;
        border-color: red;
        animation-play-state: paused;
    }
}

.button--add{
    background-color: $accentColor;
    color: $white;
    border-color: $accentColor;
    @include middle-desktops {
        padding-left: 15px;
        justify-content: flex-start;
        border-radius: 0;
        .btn-icon {
            margin-right: 18px;
        }
    }
    &:hover{
        color: $accentColor;
        .btn-icon{
            fill: $accentColor;
        }
    }
}
