@import '@/assets/styles/layout/vars.scss';
@import '@/assets/styles/layout/breakpoints.scss';
.client-card{
  border-radius: 8px;
  background-color: $white;
  border: 2px solid $accentColor;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.client-card--history{
  margin-bottom: 0;
}

.client-card--dark{
  background-color: $mainColor;
  color: $white;
  .move__item.move__opener{
      border:2px solid $white;
  }
  .move__menu{
      border:2px solid $white;
      border-top:none;
  }
  .client-card__text-more{
      color: $white;
  }
}

.client-card__id{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 400;
}

.client-card__avatar{
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
  border-radius:50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-card__name{
  font-size: $h3fontSize;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.client-card__title{
  font-size: $h5fontSize;
  font-weight: 700;
  @include middle-desktops {
    font-size: $h6fontSize;
  }
}

.client-card__sub-title{
  font-size: $h6fontSize;
  font-weight: 500;
  @include middle-desktops {
    font-size: 12px;
  }
}

.client-card__text-more{
  font-size: $h6fontSize;
  font-weight: 700;
  color: $mainColor;
  &:hover{
      text-decoration: none;
  }
}

.client-card__star{
  font-size: $h3fontSize;
  color: $mainColor;
  transition: all .3s;
}

.client-card__control-item{
  margin: 20px 0;
}

.client-card__text{
  max-height: 170px;
  overflow: hidden;
  word-break: break-all;
}

.client-card__date{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: $h5fontSize;
  font-weight: bold;
  color: $accentColor;
  @include middle-desktops {
    font-size: $h6fontSize;
  }
}

.move-icon{
  margin-right: 15px;
  fill:$accentColor;
}

.client-card__menu{
  display:flex;
  justify-content: space-around;
}

.client-card--history{
  .client-card__menu{
    justify-content: center;
  }
  .client-card__menu-item{
    margin: 0 10px;
  }
}

.client-card__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid;
  transition: all .3s;
}

.client-card__option-icon{
  fill:#fff;
  transition: fill .3s;
}

.client-card__button--trades{
  border-color: $accentColor;
  background-color: $accentColor;
  & + .client-card__menu-tooltipe{
    background-color: $accentColor;
    left: 10px;
    border-bottom-left-radius: 0;
    &:after{
      border-top-color: $accentColor;
      left: 0px;
      margin-left: 0;
    }
    &.client-card__menu-tooltipe--center{
      left: -63px;
      &:after{
        left: initial;
      }
    }
  }
  &:hover{
    background-color: transparent;
    .client-card__option-icon{
      fill: $accentColor;
    }
  }
}

.client-card__button--edit{
  border-color: #80C826;
  background-color: #80C826;
  & + .client-card__menu-tooltipe{
    background-color: #80C826;
    &:after{
      border-top-color: #80C826;
    }
  }
  &:hover{
    background-color: transparent;
    .client-card__option-icon{
      fill: #80C826;
    }
  }
}

.client-card__button--text{
  border-color: blue;
  background-color: blue;
  & + .client-card__menu-tooltipe{
    background-color: blue;
    left: initial;
    right: 10px;
    border-bottom-right-radius: 0;
    &:after{
      border-top-color: blue;
      margin-left: 0;
      left: initial;
      right: 0px;
    }
  }
  &:hover{
    background-color: transparent;
    .client-card__option-icon{
      fill: blue;
    }
  }
}

.client-card__button--chart{
  border-color: #FF4800;
  background-color: #FF4800;
   & + .client-card__menu-tooltipe{
    background-color: #FF4800;
    left: initial;
    right: 0;
    &:after{
      border-top-color: #FF4800;
      margin-left: 0;
      left: initial;
      right: 10px;
    }
  }
  &:hover{
    background-color: transparent;
    .client-card__option-icon{
      fill: #FF4800;
    }
  }
}
.client-card__menu-item{
  position: relative;
  &:hover{
    .client-card__menu-tooltipe{
      opacity: 1;
      z-index: 2;
    }
  }
}

.client-card__menu-tooltipe{
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: $white;
  font-size: $h6fontSize;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: -65px;
  left: -63px;
  opacity: 0;
  z-index: -2;
  transition: opacity .3s;
  &:after{
    content:'';
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    position: absolute;
    top:50px;
    left: 50%;
    margin-left: -15px;
  }
}