@import '@/assets/styles/layout/vars.scss';
@import '@/assets/styles/layout/breakpoints.scss';
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}
.trades-row{
  display: flex;
  justify-content: space-between;
  @include all-tablets {
    flex-wrap: wrap;
  }
}

.trades-row__cell--plus{
  background-color: rgba($accentColor, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.trades-row__cell--edit{
  background-color: rgba(#80C826, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.trades-row__cell--trash{
  background-color: rgba(red, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.trades-row__cell-title{
  color: $mainColor;
  font-family: $mainFont;
  font-size: $h5fontSize;
  font-weight: 700;
  margin-bottom: 5px;
}

.trades-row__cell-title--center{
  text-align: center;
}

.trades-row__cell-value{
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  span{
    color: $accentColor;
    font-size: $h4fontSize;
    font-weight: 700;
    margin-right: 10px;
  }
}

.trades-row__cell{
  flex-grow: 1;
  padding: 0 5px;
  @include all-tablets {
    flex-basis: 33%;
  }
  @include all-tablets {
    flex-basis: 100%;
  }
  &:first-child{
    flex-grow: 6;
    @include all-tablets {
      flex-grow: 1;
    }
  }
  &:last-child {
    @include all-tablets {
      flex-basis: 100%;
      .trades-row__cell-title {
        text-align: center;
      }
    }
  }
}

.trades-row__input{
  width: 100%;
  height: 52px;
  border-radius: 4px;
  border: 1px solid $mainColor;
  padding:0 10px;
  background: transparent;
  outline:none;
  color: $mainColor;
  font-size: $textFontSize;
  font-weight: 500;
  font-family: $mainFont;
  transition: all .3s;
  @include placeholder{
      color: $accentColor;
  }
  &:focus{
      box-shadow: 0 0 4px $accentColor;
      border: 1px solid $accentColor;
  }
}

.trades-row__date-input /deep/input{
  width: 100%;
  height: 52px;
  border-radius: 4px;
  border: 1px solid $mainColor;
  padding:0 10px;
  background: transparent;
  outline:none;
  color: $mainColor;
  font-size: $textFontSize;
  font-weight: 500;
  font-family: $mainFont;
  transition: all .3s;
  @include placeholder{
      color: $accentColor;
  }
  &:focus{
      box-shadow: 0 0 4px $accentColor;
      border: 1px solid $accentColor;
  }
}

.trades-row__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid;
  transition: all .3s;
  margin-right: 5px;
}

.trades-row__option-icon{
  fill:#fff;
  transition: fill .3s;
}

.trades-row__button--save{
  border-color: #80C826;
  background-color: #80C826;
  &.desabled{
    border-color: grey;
    background-color: grey;
  }
  &:hover{
    background-color: transparent;
    border-color: #80C826;
    .trades-row__option-icon{
      fill: #80C826;
    }
  }
  &.trades-row__button--no-hover{
    cursor: default;
    &:hover{
    background-color: #80C826;
    border-color: #80C826;
      .trades-row__option-icon{
        fill: #fff;
      }
    }
  }
}

.trades-row__button--delete{
  border-color: red;
  background-color: red;
  &:hover{
    background-color: transparent;
    .trades-row__option-icon{
      fill: red;
    }
  }
  &.trades-row__button--no-hover{
    cursor: default;
    &:hover{
    background-color: red;
    border-color: red;
      .trades-row__option-icon{
        fill: #fff;
      }
    }
  }
}

.trades-row__button--plus{
  border-color: $accentColor;
  background-color: $accentColor;
  cursor: default;
}