@import './vars.scss';
body, html {
    height: 100%;
  }
  
  body {
    font-size: $textFontSize;
    line-height: 24px;
    color: $mainColor;
    background-color: #ebebeb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
  }
  
  .container {
    margin: 0 auto;
    width: 95%;
  }

  .hide{
    display: none!important;
  }
  
  button {
    border: 0;
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
    outline: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  img{
    width: 100%;
    height: auto;
  }

  .page-enter-active, .page-leave-active {
    transition: opacity .4s;
  }
  
  .page-enter, .page-leave-active {
    opacity: 0;
  }
  
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  
  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }

  .list-enter-active{
      transition: all .4s;
      max-height: 10000px;
      opacity: 1;
  }

  .list-leave-active {
      transition: all .4s;
      max-height: 10000px;
      opacity: 1; 
  }

  .list-enter, .list-leave-to {
      transition: all .4s;
      max-height: 0;
      opacity: 0;
  }