$white: #ffffff;
$h4fontSize: 20px;
$mainColor: #163850;
$accentColor: #feb63f;
$h3fontSize: 24px;
$h6fontSize: 14px;
$h2fontSize: 36px;
$h1fontSize: 48px;
$mainFont: 'Montserrat', sans-serif;
$textFontSize: 16px;
$h5fontSize: 18px;